<%= form_with(model: contact_info, local: true) do |form| %>
  <% if contact_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact_info.errors.count, "error") %> prohibited this contact_info from being saved:</h2>

      <ul>
        <% contact_info.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :mobile_phone %>
    <%= form.text_field :mobile_phone %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
