<p id="notice"><%= notice %></p>

<h1>Virtual Cards</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Cvc</th>
      <th>Expiration date</th>
      <th>Card</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @virtual_cards.each do |virtual_card| %>
      <tr>
        <td><%= virtual_card.number %></td>
        <td><%= virtual_card.cvc %></td>
        <td><%= virtual_card.expiration_date %></td>
        <td><%= virtual_card.card_id %></td>
        <td><%= link_to 'Show', virtual_card %></td>
        <td><%= link_to 'Edit', edit_virtual_card_path(virtual_card) %></td>
        <td><%= link_to 'Destroy', virtual_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Virtual Card', new_virtual_card_path %>
