<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field hidden second-step">
    <%= form.text_field :name, placeholder: 'Name' %>
  </div>

  <div class="field hidden second-step">
    <%= form.number_field :gender, placeholder: 'Gender' %>
  </div>

  <div class="field hidden second-step mb-5">
    <%= form.text_field :birth_date, placeholder: 'Birthdate' %>
  </div>

  <%= form.fields_for :card do |builder|%>
    <%= render 'cards/form',f: builder, card: person.cards.build %>
  <% end %>
<% end %>
