<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, placeholder: 'Name' %>
  </div>

  <div class="field">
    <%= form.number_field :gender, placeholder: 'Gender' %>
  </div>

  <div class="field">
    <%= form.text_field :birth_date, placeholder: 'Birthdate' %>
  </div>

<% end %>
