<p id="notice"><%= notice %></p>
<%= link_to 'Voltar', people_path, class: "ml-auto p-2" %>


<%=image_tag(current_user.person.user_avatar, size: 100, class: "avatar")%>

<p>
  <strong>Nome:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @person.birth_date %>
</p>

<p>
  <strong>Gênero:</strong>
  <%= @person.gender %>
</p>

<% @person.contact_infos.each do |contact| %>
  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>
  <p>
    <strong>Celular:</strong>
    <%= contact.mobile_phone %>
  </p>
  <p>
    <strong>Telefone:</strong>
    <%= contact.phone %>
  </p>
<% end %>

<% @person.documents.each do |document| %>
  <p>
    <strong>Nª Documento:</strong>
    <%= document.number %>
  </p>
  <p>
    <strong>Tipo de Documento:</strong>
    <%= document.type %>
  </p>
<% end %>


<%= link_to 'Editar', edit_person_path(@person), class: 'btn btn-warning col-md-1 rounded-pill' %>

