<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @document.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @document.type %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @document.belongs_to %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
