<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :number, placeholder: 'Card number' %>
  </div>

  <div class="field">
    <%= form.text_field :cvc, placeholder: 'CVC' %>
  </div>

  <div class="field">
    <%= form.text_field :expiration_date, placeholder: 'Expiration date' %>
  </div>

  <div class="field">
    <%= form.text_field :name, placeholder: 'Card owner name' %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "save", class: "btn btn-primary col-md-1 rounded-pill pull-right"%>
    <% if @card&.valid? %>
      <%= link_to 'Deletar', @card, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger col-md-2 rounded-pill' %>
    <% end %>
  </div>

<% end %>
