<p id="notice"><%= notice %></p>

<h1>Cartões de Crédito</h1>

<div class="container-cards">
  <% @cards.each do |card| %>
    <%= link_to edit_card_path(card) do %>
      <div class="credit_card">
        <div class="credit_card__front credit_card__part">
          <img class="credit_card__front-square credit_card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
          <p class="credit_card_numer"><%= card.number %></p>
          <div class="credit_card__space-75">
            <span class="credit_card__label"><%= card.name %></span>
            <p class="credit_card__info"></p>
          </div>
          <div class="credit_card__space-25">
            <span class="credit_card__label">Expires</span>
            <p class="credit_card__info"><%= card.expiration_date%></p>
          </div>
        </div>

        <div class="credit_card__back credit_card__part">
          <div class="credit_card__black-line"></div>
          <div class="credit_card__back-content">
            <div class="credit_card__secret">
              <p class="credit_card__secret--last"><%=card.cvc %></p>
            </div>
            <img class="credit_card__back-square credit_card__square" src="https://image.ibb.co/cZeFjx/little_square.png">
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<br>

<%= link_to '+', new_card_path, class: 'btn btn-primary col-md-1 rounded-pill ml-auto p-2' %>

